<!DOCTYPE HTML>
<html>
    <head>
        <title>%title%</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="Stylesheet" type="text/css" href="%root_path%../public/style.css" />
        <!-- blog ico -->
        <link type="image/x-icon" rel="icon" href="%root_path%../public/images/ruchee.ico" />
        <link type="image/x-icon" rel="shortcut icon" href="%root_path%../public/images/ruchee.ico" />
        <!-- SyntaxHighlighter -->
        <script src="%root_path%../public/sh/scripts/shCore.js"></script>
        <script src="%root_path%../public/sh/scripts/shBrushAll.js"></script>
        <link type="text/css" rel="stylesheet" href="%root_path%../public/sh/styles/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="%root_path%../public/sh/styles/shThemeMidnight.css"/>
        <script>
            SyntaxHighlighter.config.clipboardSwf = '%root_path%../public/sh/scripts/clipboard.swf';
            SyntaxHighlighter.all();
        </script>
    </head>
    <body>
        <center style="font-family: 'Microsoft Yahei', sans-serif; font-size: 1.80em;
            font-weight: normal; color: #FF6600">Ruchee的荒草园子</center><br />
        <center>青春的记忆，童年的回忆，我们的努力</center>


        %content%


        <!-- For Disqus -->
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname = 'ruchee';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <hr/>


        <center  style="font-family: 'Microsoft Yahei'; font-size: small; font-weight: normal; color: #009933">
            Ruchee&nbsp;&copy;&nbsp;2011-2013&nbsp;www.ruchee.com
        </center>

        <!-- For 量子统计 -->
        <script type="text/javascript" src="http://js.tongji.linezing.com/2785323/tongji.js"></script>

    </body>
</html>
