<!DOCTYPE HTML>
<html>
    <head>
        <title>%title%</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="Stylesheet" type="text/css" href="%root_path%../public/style.css" />
        <!-- blog ico -->
        <link type="image/x-icon" rel="icon" href="%root_path%../public/images/ruchee.ico" />
        <link type="image/x-icon" rel="shortcut icon" href="%root_path%../public/images/ruchee.ico" />
    </head>
    <body>


        %content%


        <!-- For 量子统计 -->
        <script type="text/javascript" src="http://js.tongji.linezing.com/2785323/tongji.js"></script>

    </body>
</html>
